/*
Name: Re:DTV Framework
Site URI: http://animedescarga.ml
Description: Framework destined to design for website AnimeDescarga impulsed by AnimeDTV, NET.
Version: 3.2.4
Author: Alec G - AnimeDescarga.ml
Author URI: http://google.com/+AnimeDTV_LA
*/

/*custom search nav*/
form.search-form {
    background: none !important;
}
form.search-form input[type="text"] {
    -webkit-border-radius: 4px 4px 4px 4px; /*Webkit (Safari, Chrome, iOS, Android)*/
       -moz-border-radius: 4px 4px 4px 4px; /*Gecko browser (Firefox)*/
            border-radius: 4px 4px 4px 4px; /*W3C*/
}
form.search-form input[type="text"]:hover{ border-color: #ddd !important; 
}
form.search-form input[type="text"]:focus{ border-color: #ffb777 !important; 
}
form.search-form [type="submit"] {
    -webkit-border-radius: 0px 4px 4px 0px;
       -moz-border-radius: 0px 4px 4px 0px; 
            border-radius: 0px 4px 4px 0px; 
}
header .header_seven_style .search form.search-form [type="submit"]:hover { 
    background: #f3a847 !important; 
}
.btnsearch > .fa-search {
    font-size: 1.3333333em;
}
/*custom title box*/
.wpcustom-titlebox {
    border: 1px dashed #ffb700;
    margin: 0 0 2em 0;
    padding: 1em 1.24em 0.74em;
    position: relative;
    clear: both;
    background: #f5f5f5;
}
.wpcustom-titlebox-title {
    color: #adadad;
    background: none repeat scroll 0 0 white;
    float: left;
    font-size: 16px;
    font-weight: 600;
    left: 11px;
    line-height: 18px;
    margin: 0 0 -9px !important;
    padding: 2px 10px 2px 10px;
    position: absolute;
    text-transform: uppercase;
    top: -13px;
    border: 1px solid #ffb700;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 5px;
}
/*fix for line space*/
.wpcustom-titlebox > p {
    display: inline;
}
/*img portada*/
.imgportada {
    border: 3px solid #ddd;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    -webkit-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.36);
       -moz-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.36);
            box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.36);
}
/*flags*/
.wpflags {
    vertical-align: baseline;
    border: 1px solid #ccc;
}
/*img script footer random*/
.footer-bottom {
    -webkit-background-size: cover !important;
       -moz-background-size: cover !important;
         -o-background-size: cover !important;
            background-size: cover !important;
    height: 100%;
    width: 100%;
}
.fooimg1 {
    background: url("//cdn.animedtv.ml/img/img-footer-1.jpg") no-repeat scroll center;
}
.fooimg2 {
    background: url("//cdn.animedtv.ml/img/img-footer-2.jpg") no-repeat scroll center;   
}
.fooimg3 {
    background: url("//cdn.animedtv.ml/img/img-footer-3.jpg") no-repeat scroll center;
}
.fooimg4 {
    background: url("//cdn.animedtv.ml/img/img-footer-4.jpg") no-repeat scroll center;
}
/*custom message*/
.notidtv {
    text-align: center;
    border-bottom: 3px solid #01bcf3 !important;
    letter-spacing: -1px !important;
    background-image: url(//cdn.animedtv.ml/img/bgb.jpg);
    -webkit-box-shadow: inset 0 0 25px rgba(0,0,0,.5);
       -moz-box-shadow: inset 0 0 25px rgba(0,0,0,.5);
            box-shadow: inset 0 0 25px rgba(0,0,0,.5);
}
.notidtv-span {
    font-weight: 300;
    font-size: 25px;
    color: #fff;
}
/*custom meta-category*/
.offer_grid .cat_link_meta a {
    color: #fff;
    border: 1px solid #ffa216;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
	        border-radius: 5px;
    background: #ffa216;
    font-weight: bold;
}
/*margin for post title*/
.wp-h1 {
    margin: 0 !important;
}
/*extra info*/
.extra span {
    font-size: 13px;
    line-height: 20px;
    float: left;
}
.date, .runtime, .year, .episodes { 
    padding: 0 4px 0 4px;
    margin-right: 3px;
    border: 1px solid #ff9000;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
	background-color: rgba(242, 129, 1, 0.1);
	color: #000;
}
.genre, .date {
    font-weight: 500;
    margin-right: 3px;
}
.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    -webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}
.badge, .genre > a {
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	font-size: 11px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	background-color: #777;
	border-radius: 10px
}
.genre > a {
    padding: 4px 9px;
	background-color: rgba(242, 129, 1, 0.1);
	color: #ff9000;
	font-weight: 700;
    border: 1px solid #ff9000;
}
.genre > a:hover {
	background-color: #ff9000;
	color: #fff;
}
.calidad > a {
    text-decoration: none;
    color: #fff;
}
.calidad > a:hover {
    color: #fff;
}
/*custom field styles*/
.wp_custom-field {
    border-bottom: solid 1px #e4e4e4;
    padding: 0 10px 15px;
    margin-bottom: 15px;
}
.wp_custom-field-u {
    padding: 0 10px 15px;
}
.wp_field {
    float: left;
    min-width: 200px;
}
.wp_field-meta {
    background-color: rgba(242, 129, 1, 0.1);
    color: #000;
    padding: 2.5px 6px 2.5px 6px;
    margin-right: 5px;
    border: 1px solid #ffb700;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}
/*custom classes for rating system*/
.gdrts-stars-rating {
	left: 70px;
	display: inline-block;
	margin-top: 5px;
}
.gdrts-rating-text > strong {
	background: #F5F7FA;
	color: #222d34;
	float: left;
	padding: 10px 0;
	font-size: 27px;
	width: 60px;
	font-weight: 500;
	text-align: center;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	position: absolute;
	top: 0;
	left: 0;
}
.gdrts-rating-text > span {
	left: 74px;
	color: #9297A2;
	font-size: 12px;
	position: absolute;
	top: 30px;
	
}
.gdrts-rating-text > #text {
	display: none;
}
.gdrts-rating-user {
	padding: 0 9px;
	font-style: normal;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	font-size: 12px;
	font-weight: 300;
	margin-left: 71px;
	color: #586C7D;
	background-color: #f5f5f5;
	position: absolute;
	left: 255px;
	top: 7px;
}
.gdrts-rating-thanks {
	position: absolute;
	left: 140px;
	top: 30px;
	font-size: 13px;
}
/*fix for line space on title*/
.rh-cat-list-title {
	display: none;
}
.wpb_wrapper {
	max-width: none !important;
}
/*Responsive*/
@media only screen and (min-width: 1800px) and (max-width: 1920px) {
	.title-slider {
		font-size: 3em;
	}
	.vc_col-sm-3 {
		width: 22%;
	}
	.wp-h1 {
		font-size: 2.2em;
	}
	.extra span {
		font-size: 1.10777em;
		line-height: 1.4em;
	}
	.genre > a {
		padding: 0.4em 1.1em;
		font-size: 0.8877em;
	}
	.wpcustom-titlebox-title {
		font-size: 1.3em;
		line-height: 21px;
	}
	.wpcustom-titlebox > p {
		font-size: 1.25555em;
	}
	.wp_field {
		font-size: 1.15555em;
	}
	.wp_field-meta {
		font-size: 1.1244em;
	}
	.wpflags {
		width: 24px;
	}
	.calidad > a {
		font-size: 1.3em;
	}
	.gdrts-stars-rating {
		left: 80px;
	}
	.gdrts-rating-text > span {
		left: 83px;
	}
	.gdrts-rating-text > strong {
		padding: 0.4em 0;
		font-size: 2.2em;
		width: 2.0777em;
	}
	.gdrts-rating-user {
		margin-left: 82px;
	}
}
@media only screen and (min-width: 769px) and (max-width: 1920px) {
	.rh-container, .vc_section .vc_row {
		width: 88%;
	}
	.vc_section .vc_row, .centered-container .vc_col-sm-12 > * > .wpb_wrapper {
		max-width: none;
	}
	.main-side {
		width: 70%;
	}
	aside .sidebar {
		width: 25%;
	}
	div .sidebar {
		width: 88%;
	}
}
@media only screen and (max-width: 1600px) {
	.wp-h1 { 
		font-size: 2em;
	}
	.extra span {
		font-size: 1.00777em;
		line-height: 1.4em;
	}
	.genre > a {
		padding: 0.35555em 1em;
		font-size: 0.7877em;
	}
	.wpcustom-titlebox-title {
		font-size: 1.2em;
		line-height: 20px;
	}
	.wpcustom-titlebox > p {
		font-size: 1.2em;
	}
	.wp_field {
		font-size: 1.1em;
	}
	.wp_field-meta {
		font-size: 1.1244em;
	}
	.wpflags {
		width: 24px;
	}
	.calidad {
		padding: 3px 7px;
	}
	.gdrts-rating-text > strong {
		padding: 0.4em 0;
		font-size: 2em;
		width: 2.0777em;
	}
}
@media only screen and (max-width: 980px) {
	.title-slider {
		font-size: 2.2em;
	}
}
@media only screen and (min-width: 768px) {
	.wpcustom-titlebox > p {
		display: inline;
	}
	.wp_custom-field {
		padding: 0 0 15px;
	}
}
@media only screen and (max-width: 768px) {
	.date, .runtime, .year {
		margin-top: 5px;
	}
	.wp-h1 {
		margin-top: 12px !important;
	}
	.title-slider {
		font-size: 2em;
	}
	.wpcustom-titlebox > p {
		font-size: 1em;
	}
	.wp_field {
		font-size: 1em;
	}
	.wp_field-meta {
		padding: 1px 6px 1px 6px;
		font-size: 1em;
	}
	.wpflags {
		width: 20px;
	}
	.f_text > .f_text_span > div {
		display: none;
	}
}
@media only screen and (max-width: 678px) {
	.wpcustom-titlebox {
		border: none;
		padding: 0;
		background: none;
	}
	.wpcustom-titlebox-title {
		left: 0;
		top: -26px;
	}
	.wp_field {
		width: 100%;
	}
	.wp_field-meta {
		display: inline-block;
		margin-top: 5px;
	}
	.gdrts-shortcode-wrapper, .gdrts-shortcode-stars-rating, .mobile {
		display: none;
	}
	.wp-h1 {
		margin: 7px 0 2px 0 !important;
	}
}
@media only screen and (max-width: 550px) {
	/*not display on mobile devices*/
	.notidtv, .notidtv-span {
		display: none;
	}
	.wpcustom-titlebox > p, .wp_field-meta {
		font-size: 0.9em;
	}
	.wpcustom-titlebox-title {
		font-size: 1em;
		line-height: 16px;
	}
	.wp_field {
		font-size: 0.975777em;
	}
	.wp_field-meta > a {
		font-size: 0.877777em;
	}
	.genre > a {
		padding: 0.35555em 0.7em;
		font-size: 0.6977em;
	}
	.extra span {
		font-size: 0.89777em;
		line-height: 1.3em;
	}
	.wp-h1 {
		font-size: 1.58999em;
	}
}
@media only screen and (max-width: 535px) {
	.gdrts-rating-user {
		display: none;
	}
    .wp-h1 {
		margin: 7px 0 2px 0 !important;
	}
}
@media only screen and (max-width: 480px) {
	.title-slider {
		font-size: 1.5em;
	}
	.wpcustom-titlebox {
		margin: 0 0 2.5em 0;
	}
	.wpcustom-titlebox-title {
		font-size: 0.9em;
		line-height: 14px;
	}
	.wpcustom-titlebox > p {
		display: inherit;
		font-size: 0.8em;
		line-height: 21px;
	}
	.wp_field {
		font-size: 0.9em;
	}
	.wp_custom-field {
		margin-bottom: 5px;
	}
	.wp_field-meta {
		font-size: 0.8em;
		display: inline-block;
		padding: 0 4px 0 4px;
	}
	.wpflags {
		width: 18px;
	}
	.wp_field-meta > a {
		font-size: 0.8em;
	}
	.genre > a {
		padding: 0.25555em 0.7em;
		font-size: 0.6877em;
	}
	.mr15 {
		margin-right: 5px !important;
	}
	.extra > span {
		font-size: 0.80777em;
		line-height: 1.3em;
	}
	.wp-h1 {
		font-size: 1.5em;
		margin: 7px 0 2px 0 !important;
	}
	.wpsm-divider .solid_divider {
		margin-bottom: 9px !important;
	}
}
@media only screen and (max-width: 360px) {
	.wpsm-divider {
		margin-top: 36px !important;
		margin-bottom: 9px !important;
	}
}
